@(title: Option[String] = None)(content: Html)(implicit ctx: Prismic.Context)

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Les bonnes choses @title.map(txt => s" – $txt")</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/normalize.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/blog.css")">

    <script src="@routes.Assets.at("javascripts/modernizr-2.6.2.min.js")"></script>
  </head>
  <body>

    <header>

      <a href="@routes.Application.index(ref = ctx.maybeRef)">
        <h1>Les Bonnes Choses</h1>
      </a>

      <nav>
        <ul>
          <li><a href="@routes.Application.blog(ref = ctx.maybeRef)">Home</a></li>
          @Application.BlogCategories.map { category =>
            <li><a href="@routes.Application.blog(Some(category), ref = ctx.maybeRef)">@category</a></li>
          }
        </ul>
      </nav>

    </header>

    <div class="main">
      @content
    </div>

    @footer()

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="@routes.Assets.at("javascripts/jquery-1.10.1.min.js")"><\/script>')</script>
  </body>
</html>