@(products: Seq[io.prismic.Document], featured: Seq[io.prismic.Document])

@main(id = "home") {

  <section id="caroussel">

    <nav>
      <ul>
        @Application.productCategories.values.map { category =>
           <li><a>@category</a></li>
        }
      </ul>
    </nav>

    <div class="products">

      @Application.productCategories.keys.map { category =>
        <ul>
          @products.filter(_.tags.contains(category)).filterNot(_.tags.contains("Featured")).take(5).map { product =>
            <li data-category="@category">
              <a href="@routes.Application.productDetail(product.id, product.slug)">
                <img src="@(product.getImage("product.image", "icon").map(_.url).getOrElse(routes.Assets.at("images/missing-image.png")))">
                <span>@product.getText("product.name").getOrElse("Product")</span>
                <em>@product.getNumber("product.price", "$0.00").getOrElse("–")</em>
              </a>
            </li>
          }
        </ul>
      }

    </div>

    <p>
      <a href="@routes.Application.products()">Browse all our products</a>
    </p>

  </section>

  <section id="featured">

    @featured.filterNot(_.typ == "blog-post").take(3).map {

      case product if product.typ == "product" => {
        <div style="@product.getImage("product.gallery[0]", "squared").map { img => background-image: url(@img.url); }">
          <a href="@routes.Application.productDetail(product.id, product.slug)">
            <h3><span>@product.getText("product.name").getOrElse("Product")</span></h3>
            <p>
              <span>@product.getText("product.short_lede")</span>
            </p>
          </a>
        </div>
      }

      case selection if selection.typ == "selection" => {
        <div style="@selection.getImage("selection.catcher_image", "squarred").map { img => background-image: url(@img.url); }">
          <a href="@routes.Application.selectionDetail(selection.id, selection.slug)">
            <h3><span>@selection.getText("selection.name").getOrElse("Selection")</span></h3>
            <p>
              <span>@selection.getText("selection.short_lede")</span>
            </p>
          </a>
        </div>
      }
    
    }

  </section>

  @featured.filter(_.typ == "blog-post").headOption.map { blog =>

    <section id="blog">

      <h2>Fresh news from <a href="@routes.Application.blog()" target="_self">our blog</a></h2>

      <a href="@routes.Application.blog()" target="_self">
        @blog.getStructuredText("blog-post.body").flatMap(_.getTitle).map(_.text).map { title => <h1>@title</h1> }
        @blog.getStructuredText("blog-post.body").flatMap(_.getFirstParagraph).map(_.text).map { text => <p>@text</p> }
      </a>

      <a class="more" href="@routes.Application.blog()" target="_self">Read more</a>

    </section>

  }

}
