@(products: Seq[com.zenexity.wroom.client.Document], featured: Seq[com.zenexity.wroom.client.Document])

@main(title = "Home", id = "home") {

  <section id="caroussel">

    <nav>
      <ul>
        @Application.CATEGORIES.values.map { category =>
           <li><a>@category</a></li>
        }
      </ul>
    </nav>

    <div class="products">

      @Application.CATEGORIES.keys.map { category =>
        <ul>
          @products.filter(_.tags.contains(category)).filterNot(_.tags.contains("Featured")).take(5).map { product =>
            <li data-category="@category">
              <a href="@routes.Application.productDetail(product.id, product.slug)">
                <img src="@(product.getImage("product.image", "icon").map(_.url).getOrElse(routes.Assets.at("images/missing-image.png")))">
                <span>@product.getText("product.name").getOrElse("Product")</span>
                <em>@product.getNumber("product.price", "$0.00").getOrElse("–")</em>
              </a>
            </li>
          }
        </ul>
      }

    </div>

    <p>
      <a href="@routes.Application.products()">Browse all our products</a>
    </p>

  </section>

  <section id="featured">

    @featured.filterNot(_.typ == "blog-post").take(3).map {

      case product @ com.zenexity.wroom.client.Document(_, "product", _, _, _, _) => {
        <div class="special-offer" style="@product.getImage("product.gallery[0]", "squared").map { img => background-image: url(@img.url); }">
          <a href="@routes.Application.productDetail(product.id, product.slug)">
            <h3><span>@product.getText("product.name").getOrElse("Product")</span></h3>
            <p>
              <em>@product.getNumber("product.price", "$0.00").getOrElse("–")</em>
            </p>
          </a>
        </div>
      }

      case selection @ com.zenexity.wroom.client.Document(_, "selection", _, _, _, _) => {
        <div class="selection" style="@selection.getImage("selection.catcher_image", "squarred").map { img => background-image: url(@img.url); }">
          <a href="@routes.Application.selectionDetail(selection.id, selection.slug)">
            <h3><span>@selection.getText("selection.name").getOrElse("Selection")</span></h3>
            <p>
              <span>@selection.getText("selection.short_lede")</span>
            </p>
          </a>
        </div>
      }

      case com.zenexity.wroom.client.Document(_, "job-offer", _, _, _, _) => {}
    
    }

  </section>

  <section id="blog">

    <h2>Fresh news from <a href="@routes.Application.productDetail("UdUjsN_mqT1ObPeM", "coffee-macaron")">our blog</a></h2>

    <a href="@routes.Application.productDetail("UdUjsN_mqT1ObPeM", "coffee-macaron")">

      <h1>Strawberry Cheesecake Profiteroles</h1>

      <p>
        I know profiteroles are suppose to be stuffed with pastry cream, ice cream or some sort of cream. Okay, well cheesecake is made with cream cheese. That counts, right? And if doesn’t, what’s another broken rule? Let’s just agree that pate a choux whether in the form of profiteroles or eclairs is a vehichle for any type of stuffing.
      </p>

    </a>

    <a class="more" href="@routes.Application.productDetail("UdUjsN_mqT1ObPeM", "coffee-macaron")">Read more</a>

  </section>

}
