@(main: io.prismic.Document, jobs: Seq[io.prismic.Document])(implicit ctx: Prismic.Context)

@page(id = "jobs")(
  title = main.getText("article.title"), 
  image = main.getImage("article.image", "main").map(_.url), 
  catcher = main.getHtml("article.short_lede", ctx.linkResolver).map(Html.apply)) {

  <div class="presentation">
    @main.getHtml("article.content", ctx.linkResolver).map(Html.apply)
  </div>


  @jobs.groupBy(_.getText("job-offer.service")).map { 

    case (service, jobs) => {

      <h2>
        @service match {
          case Some("Store") => { Positions in our Stores }
          case Some("Office") => { Positions in our Offices }
          case Some("Workshop") => { Positions in our Workshops }
          case _ => { Other positions }
        }
      </h2>

      <div class="listing">
      @jobs.map { job =>
        <div class="job">
          <a href="@routes.Application.jobDetail(job.id, job.slug, ref = ctx.maybeRef)">
            <h3>@job.getText("job-offer.name")</h3>
            <p>
              @job.getStructuredText("job-offer.profile").flatMap(_.getFirstParagraph).map(_.text)
            </p>
            <strong>Learn more</strong>
          </a>
        </div>
      }
      </div>

    }

  }

}