@main(title = "Our produts", id = "products") {

  <section id="catalog">
  
    <div class="products">
    
      <ul>
        <li data-category="tarts">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/abrico.png">
            <span>Abricot Tart</span>
            <em>$5.50</em>
          </a>
        </li>
        <li data-category="cup-cakes">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/biscuit.png">
            <span>Biscuit Cup cake</span>
            <em>$5.95</em>
          </a>
        </li>
        <li data-category="macarons">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/caramel-solo.png">
            <span>Caramel Macaron</span>
            <em>$3.95</em>
          </a>
        </li>
        <li data-category="tarts">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/cerise.png">
            <span>Cherry Tart</span>
            <em>$5.50</em>
          </a>
        </li>
        <li data-category="tarts">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/creme-cerise.png">
            <span>Cherry cream Tart</span>
            <em>$5.50</em>
          </a>
        </li>
        <li data-category="cup-cakes">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/chocolat.png">
            <span>Chocolate Cup cake</span>
            <em>$5.95</em>
          </a>
        </li>
        <li data-category="macarons">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/chocolat-solo.png">
            <span>Chocolate Macaron</span>
            <em>$3.95</em>
          </a>
        </li>
        <li data-category="macarons">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/cafe-solo.png">
            <span>Coffee Macaron</span>
            <em>$3.95</em>
          </a>
        </li>
        <li data-category="macarons">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/paindepice-solo.png">
            <span>«Fleur de sel» Macaron</span>
            <em>$4.50</em>
          </a>
        </li>
        <li data-category="tarts">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/kiwi.png">
            <span>Kiwi Tart</span>
            <em>$4.50</em>
          </a>
        </li>
        <li data-category="cup-cakes">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/citron.png">
            <span>Lemon Cup cake</span>
            <em>$5.95</em>
          </a>
        </li>
        <li data-category="cup-cakes">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/pistache-saint-patric.png">
            <span>Pistachio Special Cup cake</span>
            <em>$5.95</em>
          </a>
        </li>
        <li data-category="tarts">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/fraises.png">
            <span>Strawberry Cream Tart</span>
            <em>$6.00</em>
          </a>
        </li>
        <li data-category="cup-cakes">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/fraise.png">
            <span>Strawberry Cup cake</span>
            <em>$5.95</em>
          </a>
        </li>
        <li data-category="macarons">
          <a href="@routes.Application.product("UdUjsN_mqT1ObPeM", "coffee-macaron")">
            <img src="/assets/bouh/vanille-solo.png">
            <span>Vanilla Macaron</span>
            <em>$3.95</em>
          </a>
        </li>
      </ul>

    </div>

    <p>
      <a href="@routes.Application.index()">Close the products list</a>
    </p>

  </section>

}