@(product: io.prismic.Document)

@main(id = "product", title = product.getText("product.name")) {

  <section id="detail">

    <div>

      <img src="@(product.getImage("product.image", "main").map(_.url).getOrElse(routes.Assets.at("images/missing-image.png")))">

      <h4>
        <strong>@product.getText("product.name").getOrElse("Missing product name")</strong>
        @product.getNumber("product.price", "$0.00").map { price =><em>@price</em>}
      </h4>
      
      <h2>
        @product.getText("product.short_lede").orElse(product.getText("product.name")).getOrElse("Product")
      </h2>

      @product.getHtml("product.description", Application.LINK_RESOLVER).map(Html.apply)

      <p>
        <a href="#">
          <strong class="color" style="background: @product.getText("product.color")">@product.getText("product.color")</strong>
        </a>
      </p>

    </div>

    <p>
      <a href="@routes.Application.products()">Browse all our products</a>
    </p>

  </section>

  @product.getImage("product.gallery", "main").map { img =>
    <section id="gallery" style="background-image: url(@img.url)"></section>
  }.getOrElse {

    @for(
      author <- product.getText("product.testimonial_author[0]");
      quote <- product.getText("product.testimonial_quote[0]")
    ) {
      <section id="quote">
        <blockquote>@quote <strong>said @author</strong></blockquote>
      </section>
    }

  }

  @product.getAll("product.related")

}