@main(title = "Coffee Macaron", id = "product") {

  <section id="detail">

    <div>

      <img src="/assets/bouh/chocolat-detail.png">

      <h4>$4.95</h4>
      <h3>Chocolate Macaron</h3>

      <p>
        There is so much rich, decadent chocolate in this macaron that the chocolatey pleasure is just endless! As you let the softness and the strength of our preciously selected cocoa waken your senses, you will feel a lot of pleasure and a little bit of guilt, for giving in to your dark (chocolate) side again!
      </p>

      <p>
        <a href="#"><strong style="background: #7a462c">#7a462c</strong></a>
      </p>

    </div>

    <p>
      <a href="@routes.Application.products()">Browse all our products</a>
    </p>

  </section>

  <section id="gallery" style="background-image: url(/assets/bouh/lesbonneschoses-1373036380068_fotolia_42108161_subscription_monthly_xxl.jpg)">
  </section>

}