@(selection: io.prismic.Document)

@main(title = selection.getText("selection.name"), id = "selection") {

  <section id="page-header">

    <div style="@selection.getImage("selection.catcher_image", "main").map(img => s"background-image: url(${img.url})")">
      <div>
        <h1>@selection.getText("selection.name")</h1>

        <p>
          @selection.getText("selection.short_lede")
        </p>
      </div>
    </div>

  </section>

  <section id="page-body">
    
    <img src="@(selection.getImage("selection.image", "main").map(_.url).getOrElse(routes.Assets.at("images/missing-image.png")))">

  </section>

}