@(selection: io.prismic.Document, products: Seq[io.prismic.Document])(linkResolver: io.prismic.DocumentLinkResolver)

@main(title = selection.getText("selection.name"), id = "selection") {

  <section id="page-header">

    <div style="@selection.getImage("selection.catcher_image", "main").map(img => s"background-image: url(${img.url})")">
      <div>
        <h1>@selection.getText("selection.name")</h1>

        <p>
          @selection.getText("selection.short_lede")
        </p>
      </div>
    </div>

  </section>

  <section id="page-body">
    
    <img src="@(selection.getImage("selection.image", "main").map(_.url).getOrElse(routes.Assets.at("images/missing-image.png")))">

    <div>
      @selection.getHtml("selection.description", linkResolver).map(Html.apply)

      <h4>
        @selection.getNumber("selection.price", "$0.00").map { price =><em>@price</em>}
      </h4>
    </div>

  </section>

  @Option(products).filterNot(_.isEmpty).map {
    case products => {

      <section class="products">

        <h2>Part of this selection</h2> 

        <ul>
          @products.map { product =>
            <li data-category="@product.tags.filter(Application.ProductCategories.contains).headOption">
              <a href="@routes.Application.productDetail(product.id, product.slug)">
                <img src="@(product.getImage("product.image", "icon").map(_.url).getOrElse(routes.Assets.at("images/missing-image.png")))">
                <span>@product.getText("product.name").getOrElse("Product")</span>
              </a>
            </li>
          }
        </ul>
      </section>

    }
  }

}